* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

button {
    background-color: black;
    border: 0;
    border-radius: .25em;
    color: white;
    cursor: pointer;
    padding: .25em 1em;
}

header {
    margin-bottom: 1em;
}

h1 {
    font-size: 1.25em;
    text-align: center;
}

h2 {
    font-size: 1em;
}

table {
    border-spacing: 0;
    width: 100%;
}

td, th {
    font-size: .8em;
    padding: .25em;
    text-align: right;
}

tr:nth-child(even) { background:lightgray }
tr:nth-child(odd) { background: white}

.action {
    background-color: whitesmoke;
    padding: 1em;
    width: 350px;
}

.action__btns {
    display: flex;
    justify-content: space-between;
}

.app {
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 1em;
    width: 800px;
}

.control-panel {
    display: flex;
    justify-content: space-between;
}

.img-loading {
    width: 2em;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
} 

.modal__container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}
